---
import Layout from '../../layouts/Layout.astro'
import { Button } from '@radix-ui/themes'
---

<Layout title='Issues Page'>
	<div>
		<Button><a href='/issues/new'>New Issue</a></Button>
	</div>
</Layout>
